# -*- coding: utf-8 -*-
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# GitHub: https://github.com/btschwertfeger
#

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args:
          - --fix
          - --preview
          - --exit-non-zero-on-fix
      - id: ruff-format
  # - repo: https://github.com/pre-commit/mirrors-mypy # FIXME
  #   rev: v1.13.0
  #   hooks:
  #     - id: mypy
  #       name: mypy
  #       args:
  #         - --config-file=pyproject.toml
  #         - --install-types
  #         - --non-interactive
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # all available hooks can be found here: https://github.com/pre-commit/pre-commit-hooks/blob/main/.pre-commit-hooks.yaml
      - id: check-yaml
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: requirements-txt-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: tests/helper.py
      - id: end-of-file-fixer
      - id: pretty-format-json
      - id: detect-private-key
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: rst-backticks
      - id: python-no-eval
      - id: python-no-log-warn
      - id: rst-backticks
      - id: rst-inline-touching-normal
      - id: rst-directive-colons
      - id: text-unicode-replacement-char
  - repo: https://github.com/PyCQA/isort # TODO: remove as soon as ruff is stable
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.2
    hooks:
      - id: bandit
        exclude: "^tests/.*|examples/.*"
  - repo: https://github.com/yunojuno/pre-commit-xenon
    rev: v0.1
    hooks:
      - id: xenon
        args:
          - --max-average=B
          - --max-modules=B
          - --max-absolute=C
exclude: '\.nc$|^tests/fixture/|\.ipynb$'
