# -*- coding: utf-8 -*-
#
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# All rights reserved.
# https://github.com/btschwertfeger
#

include README.md LICENSE

graft cmethods

prune tests
prune doc
prune examples
