# -*- mode: yaml; coding: utf-8 -*-
#
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# All rights reserved.
# https://github.com/btschwertfeger
#
# Template workflow to build the project for a specific os
# and Python version.
#

name: Build

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      python-version:
        type: string
        required: true

permissions: read-all

jobs:
  Build:
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # IMPORTANT: otherwise the current tag does not get fetched and the build version gets worse

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --user --upgrade pip
          python -m pip install --user build

      - name: Install hdf5 and netcdf (macOS)
        if: runner.os == 'macOS'
        run: brew install hdf5 netcdf

      - name: Check git status (not Windows)
        if: runner.os != 'Windows'
        run: |
          if [[ -z "$(git status --porcelain)" ]]; then
            echo "No changes found."
          else
            echo "Changes detected. Please commit or discard changes before publishing."
            git status --porcelain
            exit 1
          fi

      - name: Check git status (Windows)
        if: runner.os == 'Windows'
        run: |
          if (-not (git status --porcelain)) {
              Write-Output "No changes found."
          } else {
              Write-Output "Changes detected. Please commit or discard changes before publishing."
              git status --porcelain
              exit 1
          }

      - name: Build Linux
        if: runner.os == 'linux'
        run: python -m build

      - name: Store the distribution packages
        uses: actions/upload-artifact@v5
        # upload artifacts with the oldest supported version
        if: runner.os == 'linux' && inputs.python-version == '3.9'
        with:
          name: python-package-distributions
          path: dist/

      - name: Build macOS
        if: runner.os == 'macOS'
        run: python -m build

      - name: Build Windows
        if: runner.os == 'Windows'
        # put it here to avoid more filtering
        run: python -m build -o .

      - name: Install the package on Linux or MacOS
        if: runner.os != 'Windows'
        run: python -m pip install --user dist/python_cmethods*.whl

      - name: Install the package on Windows
        if: runner.os == 'Windows'
        run: |
          try {
              $WHEEL = Get-ChildItem -Path . -Filter "python_cmethods*.whl" -ErrorAction Stop
              python -m pip install --user $WHEEL
          } catch {
              Write-Error "Error: .whl file not found in the current directory."
              exit 1
          }
