# -*- coding: utf-8 -*-
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# GitHub: https://github.com/btschwertfeger
#
# Template workflow to build the project for a specific os
# and Python version.
#

name: Build

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      python-version:
        type: string
        required: true

jobs:
  Build:
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Check Git status
        run: |
          if [[ -z "$(git status --porcelain)" ]]; then
            echo "No changes found."
          else
            echo "Changes detected. Please commit or discard changes before publishing."
            git status --porcelain
            exit 1
          fi

      - name: Build the package
        run: python -m build --outdir .

      - name: Install the package on Linux or MacOS
        if: runner.os != 'Windows'
        run: python -m pip install python_cmethods*.whl

      - name: Install the package on Windows
        if: runner.os == 'Windows'
        run: |
          try {
              $WHEEL = Get-ChildItem -Path . -Filter "python_cmethods*.whl" -ErrorAction Stop
              python -m pip install $WHEEL
          } catch {
              Write-Error "Error: .whl file not found in the current directory."
              exit 1
          }
